<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DA_Xuong</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/DA_Xuong.styles.css" asp-append-version="true" />
</head>
<style>
	aside {
		position: fixed; /* Đặt vị trí cố định */
		top: 0; /* Đặt top ở vị trí 0 từ top của trình duyệt */
		left: 0; /* Đặt left ở vị trí 0 từ bên trái của trình duyệt */
		height: 100%; /* Đặt chiều cao của aside để bằng 100% chiều cao của màn hình */
		width: 20%; /* Đặt chiều rộng của aside */
		background-color: lightskyblue;
		overflow-y: auto; /* Cho phép cuộn nếu nội dung quá dài */
	}

	.offcanvas-body {
		padding: 20px; /* Thêm padding để tạo khoảng cách với nội dung bên trong */
	}

	.navbar-nav {
		list-style-type: none; /* Loại bỏ bullet của danh sách */
		padding: 0; /* Xóa padding mặc định của danh sách */
		margin: 0; /* Xóa margin mặc định của danh sách */
	}

	.nav-item {
		margin-bottom: 10px; /* Tạo khoảng cách giữa các mục */
	}

</style>
<body>
	<aside style="width:20%">
		<div class="offcanvas-body">
			<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
				<li class="nav-item my-3 border-bottom border-1">
					<a class="nav-link active text-white" aria-current="page" asp-area="Admin" asp-controller="SACHes" asp-action="Index">DANH MỤC SÁCH</a>
				</li>
				<li class="nav-item my-3 border-bottom border-1">
					<a class="nav-link active text-white" aria-current="page" asp-area="Admin" asp-controller="TACGIAs" asp-action="Index">DANH SÁCH TÁC GIẢ</a>
				</li>
				<li class="nav-item my-3 border-bottom border-1">
					<a class="nav-link text-white" asp-area="Admin" asp-controller="SACHes" asp-action="Create">THÊM SÁCH</a>
				</li>
				<li class="nav-item my-3 border-bottom border-1">
					<a class="nav-link text-white" asp-area="Admin" asp-controller="TACGIAs" asp-action="Create">THÊM TÁC GIẢ</a>
				</li>
				<li class="nav-item my-3 border-bottom border-1">
					<a class="nav-link text-white" href="#">QUẢN LÝ ĐƠN HÀNG</a>
				</li>
			</ul>
		</div>
	</aside>
	<article style="width:80%;float:right" class="container">
		<main role="main" class="pb-3">
			<div>
				<div class="w-80">
					@RenderBody()
				</div>
			</div>
		</main>
	</article>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>