@model DA_Xuong.Models.TACGIA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TACGIA</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TENTACGIA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TENTACGIA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TIEUSU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TIEUSU)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDTACGIA">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
