@model DA_Xuong.Models.TACGIA

@{
    ViewData["Title"] = "Edit";
}

<h4>Cập nhật thông tin tác giả</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDTACGIA" />
            <div class="form-group">
                <label asp-for="TENTACGIA" class="control-label"></label>
                <input asp-for="TENTACGIA" class="form-control" />
                <span asp-validation-for="TENTACGIA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIEUSU" class="control-label"></label>
                <input asp-for="TIEUSU" class="form-control" />
                <span asp-validation-for="TIEUSU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
